@font-face {
    font-family: Lato;
    src: url("./assets/Lato-Regular.ttf");
}

@font-face {
    font-family: NunitoSans;
    src: url("./assets/NunitoSans-Bold.ttf");
}

@media screen and (min-width: 768px) {
    body {
      width:40%;
      margin: 0 auto;
    }
}

body,html {
    background-color: #F3F1ED;
    height: 100%;
    margin: 0;
}

/* Gig Card */

.gigCardContainer {
    display:flex;
    flex-direction: column;
    width:85%;
    height:auto;
    background-color:#FAF7F2;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding:4%;
    margin:0 auto;
    margin-bottom:5%;
}

.gigCardContainer p {
    margin:0;
    padding:0;
}

.blurb {
    margin-bottom:10%
}

.gigCard_imageAndBlurb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gigCard_imageAndBlurb_blurb {
    display:flex;
    flex-direction:row;
    align-items: center;
}

.gigCard_imageAndBlurb img {
    width:100px;
    height:83px;
    border-radius: 8px;
    margin-right: 2%;
}

.gigCard_imageAndBlurb p {
    font-family: Lato;
    font-size:14px;
    width:60%
}

.gigCard_header {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3/4 and 1/4 of the width respectively */
    gap: 30%; /* adjust the gap as required */
    margin-bottom: 2%;
}

.gigCard_header_text {
    display: grid;
    grid-template-rows: auto auto; /* Automatically adjust row size based on content */
}

.gigCard_header_datebox {
    display:flex;
    flex-direction: column;
    text-align: center;
    width:42px;
    height:42px;
    flex-shrink:0;
    border-radius:4px;
    background-color:#659AA3;
    font-family: NunitoSans;
}

.gigCard_header_datebox_month {
    font-size: 12px;
}

.gigCard_header h3 {
    font-family: NunitoSans;
    padding:0;
    margin:0;
    margin-bottom:3%;
}

.gigCard_header h5 {
    font-family: Lato;
    padding:0;
    margin:0;
    font-size:12px;
}

.gigCard_header_sub {
    display:flex;
    flex-direction:row;
    margin-bottom: 5%;
    font-family: LatoRegular;
}

.gigCard_header_sub p {
    font-family: Lato;
    font-size: 12px; 
    transform: translateY(-10%)
}

a .seeMore {
    font-family: Lato;
    color:#377D8A;
    font-size:12px;
    text-align: right;
    margin-left:1%;
    width:100%
}

.gigCard_imageAndBlurb_blurb a {
    margin-left:2%
}

.gigCard_buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family:Lato;
    font-size:12px;
    margin-top:3%;
    border-top: 1px solid #d3d3d3;
}

.gigCard_button {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:6px;
}

.gigCard_button p {
    font-family:Lato;
    color:#377D8A
}


/* List */

.list {
 display:flex;
 flex-direction: column;
 margin-top:15%;
}

.listContainer {
    display:flex;
    justify-content: center;
}

.listButtons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.listButtons button {
    background-color: #377D8A;
    color:#FFFFFF;
    border-radius: 8px;
    font-family: NunitoSans;
    border:none;
    width:116px;
    height:37px;
    font-weight:700;
    font-size:14px;
    margin:8%
}

.gigsToday_date {
    display: flex;
    flex-direction: column;
    margin-left:7%;
    margin-top:5%;
    margin-bottom:5%;
}

.gigsToday_date p {
    margin: 0;
    padding: 0;
  }

  .gigsToday_map p {
    margin: 0;
    padding: 0;
  }

.gigsToday_date_day {
    font-family: NunitoSans;
    font-size: 25px;
}

.gigsToday_date_week {
    font-family: Lato;
    font-size:14px;
}

.gigsThisWeek_date {
    /* display: flex;
    flex-direction: column; */
    margin-left:8%; 
    margin-bottom:20px
}

.gigsThisWeek_date p {
    padding:0;
    margin:0;
}

.gigsThisWeek_date_day {
    font-family: NunitoSans;
    font-size: 25px;
    line-height: 34.1px;
}

.gigsThisWeek_date_week {
    font-family: Lato;
    font-size:14px;
    line-height: 16.8px;
}

/* Map */

/* .logo {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5%;
    margin-top:20px;
}

.logo img{
    width:70px;
    height:auto;
} */

.map {
    display: flex;
    flex-direction: column; 
    height: 90vh; 
    overflow: hidden;

}

.map-container {
    flex: 1; /* This allows the map to take up all available space */
    overflow-y: auto; 
    position:relative
  }

.link {
    margin-top:10%;
}

/* .gigsToday_map {
   margin-left: 8%;
   margin-bottom:20px;
} */

.map_text {
    font-family: Lato;
    color: #747474;
    text-align: center;
    font-size:14px;
}

.map_text_pin {
width:3%;
height:5%
}

.arrows {
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width:80%;
margin: 0 auto;
margin-top:3%;
}

.arrow_left {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: NunitoSans;
    font-size:12px;
}

.arrow_left p {
    margin-top: 0;
}

.arrow_right {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: NunitoSans;
    margin-left: auto;
    font-size:12px;
}

.arrow_right p {
        margin-top: 0;
}

.buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 5%;
}

.buttons button {
    background-color: #377D8A;
    color:#FFFFFF;
    border-radius: 8px;
    font-family: NunitoSans;
    border:none;
    width:116px;
    height:37px;
    font-weight:700;
    font-size:14px;
}

/* Gig details */

.gigDetails_container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.gigDetails_container .header {
    position:relative;
}

.header img {
    transform: translateY(-8%);
}

.gigDetails_image {
    position:absolute;
    width:90%;
    height:252px;
    border-radius:26px;
    top:10%;
}

.gigDetails_details {
    font-family: NunitoSans;
    align-self: flex-start;
    margin-left:7%;
    font-size:25px;
    font-weight:700;
    margin-top: 15% ;
}

.gigDetails_details p {
    margin:0;
    padding:0;
}

.gigDetails_button {
    background-color: #BB9456;
    color:#FFFFFF;
    border-radius: 8px;
    font-family: NunitoSans;
    border:none;
    width:116px;
    height:37px;
    font-weight:700;
    font-size:14px;
}

.locationAndTime {
    display:flex;
    flex-direction: column;
    margin-top: 5%;
}

.locationAndTime_row {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.locationAndTime p {
    margin:0;
    padding:0;
}

.locationAndTime_row p {
    font-family: Lato;
    font-size:14px;
    font-style: normal;
    color:#4B4B4B;
    font-weight:400;
    line-height: 17.04px;
    margin-left: 5px;
    margin-top:5px;
}

.blurb {
 font-family: Lato;
 font-size:14px;
 color:#000000;
 width:85%;
 margin: 0 auto;
 margin-top:10%;
}

.blurb h3 {
    margin-bottom:10px;
}

.ticket {
    margin-top:10%;
    margin-bottom:5%;
    align-self: flex-start;
    margin-left:8%;
}

.back_arrow {
    position:absolute;
    left:7%;
    top:5%;
    border:none;
    background-color: transparent;
}


/* Carousel */

.carousel-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width:100%; 
    z-index: 1;
    top:12%;
    left:0
}

.carousel {
    width:240;
    overflow:hidden
}

.slider {
    display:flex;
    flex-direction: row;
}

.item-container {
    width: 80;
    display:flex;
    justify-content: center;
    align-items: center;
    height:90;
}

/* Footer */

.footer-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#F7F6F5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom:2%;
    border-top: 1px solid #d3d3d3;
}

.footer-container-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.footer-container-item p {
    margin:0;
    padding:0;
    font-family: Lato;
    margin-top:2px;
    color:#747474;
    font-size:14px;
}

/* .list-component-container {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
} */

.list-component-container {
    display: flex;
    flex-direction: column;
  }
  
  .list-component-container-content {
    flex: 1;
    overflow-y: auto;
  }
  


/* Header */

.header-container {
    display:flex;
    align-items: center;
    justify-content: right;
    background-color: #2596be;
    height:10vh
}

.header-buttons {
    display:flex;
    flex-direction:row;
    justify-content: right;
    width:50%
}

.header-buttons-login {
    display:flex;
    align-items: center;
    background-color: white;
    padding:10px;
    border-radius: 4px;
    font-family: NunitoSans;
    color: #2596be;
    transition: opacity 0.2s;
    text-decoration: none;
}

.header-buttons-signUp {
    font-family: NunitoSans;
    color: white;
    padding:10px;
    margin-left:5%;
    transition: opacity 0.2s;
    text-decoration: none;
}

.header-buttons-login:active {
    opacity: 0.6;
}

.header-buttons-signUp:active {
    opacity: 0.6;  
}

.header-container-user {
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    margin-right:5%;
    text-decoration: none;
}

.header-container-user p {
    margin: 0;
    color:#FFFFFF;
    font-family: Lato;
}

/* Register */

.register-container {
    display:flex;
    flex-direction: column;
    background-color: #F7F6F5;
    font-family: NunitoSans;
    margin-top:5%
}

.register-container h2 {
    text-align: center;
}

.register-container form {
    display:flex;
    flex-direction:column;
    width:80%;
    margin: 0 auto;
}

.register-container form label {
    margin-bottom:2%
}

.register-container form input {
    margin-bottom:10%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:2%
}

.register-submit-button {
    text-align: center;
    background-color: #377D8A;
    color:white;
    padding:10px;
    border-radius: 4px;
    font-family: NunitoSans;
    border:none;
    font-size:16px;
}

/* Registration success */

.registration-success-container {
    display:'flex';
    flex-direction: column;
    width:80%;
    margin: 0 auto;
    margin-top:30%
}

.registration-success-container p {
    font-family: NunitoSans;
    font-size:30px;
    text-align:center;
}

.registration-success-container-button {
    text-decoration: none;
}

.registration-success-container-button p {
   background-color: #377D8A;
   color:white;
   font-size: 16px;
   padding:3%;
   border-radius: 4px;
   transition: opacity 0.2s;
}

.registration-success-container-button p:active {
    opacity: 0.6; 
}